{% block phileo_widget_form %}
	<form class="phileo {{ is_liked }} {{ like_type }}" action="{{ like_url }}" method="POST" id="{{ widget_id }}">{% csrf_token %}

		{% block phileo_widget_button %}
            {% if not user.is_anonymous %}
                <input type="submit" class="phileo-toggle" value="Like" />
            {% endif %}
		{% endblock phileo_widget_button %}

		{% block phileo_widget_count %}
            <span class="phileo-count">
                <span id="{{ like_count_id }}">{{ like_count }}</span>
                {{ like_type }}{{ like_count|pluralize }}
            </span>
		{% endblock phileo_widget_count %}

	</form>
{% endblock phileo_widget_form %}
{% block phileo_widget_js %}
	<script type="text/javascript">
	jQuery(function ($) {
		$("#{{ widget_id }}").phileo({
			count: "#{{ like_count_id }}",
			toggle_class: "{{ toggle_class }}"
		});
	});
	</script>
{% endblock phileo_widget_js %}
